export(compound_invariance_pwf)
export(constant_relative_sensitivity_pwf)
export(create_choices)
export(create_choices_from_file)
export(create_probability_weighting)
export(create_utility)
export(create_vsd_choices)
export(drawChoices)
export(drawSimplex)
export(exponential_power_pwf)
export(exponential_uf)
export(hyperbolic_logarithm_pwf)
export(kt_pwf)
export(linear_in_log_odds_pwf)
export(linear_pwf)
export(linear_uf)
export(logarithmic_uf)
export(neo_additive_pwf)
export(plot_pwf)
export(plot_pwf_family)
export(plot_risk_premium)
export(plot_utility_function)
export(power_pwf)
export(power_uf)
export(quadratic_uf)
exportClasses(Choices)
exportClasses(Gamble)
exportClasses(Gambles)
exportClasses(Outcome)
exportClasses(Probability_Weighting)
exportClasses(Utility)
exportMethods(compareEU)
exportMethods(compareEV)
exportMethods(compareGDU)
exportMethods(comparePRT)
exportMethods(comparePT)
exportMethods(compareRAM)
exportMethods(compareRDU)
exportMethods(compareSWAU)
exportMethods(compareSWU)
exportMethods(compareTAX)
exportMethods(save_choices)
